<h1>QR-Shakes</h1>
<div class="centered"><%= link_to 'Ny QR-Shake', new_request_shakes_path %></div>
<br />
<br />
<% @shakes.each do |shake| %>
  <%= render_profile_small shake.dest_user %>
<% end %>