<h1><%= ["Shakey shakey!", "Ryst din... QR!", "Shakylicious!"].sample %></h1>
<p class="centered">Du har lige tilføjet:</p>
<%= render_profile_small @source_user %></a>
<p class="centered">til din QR-Shake liste</p>
<p class="centered dimmed">(Du er nu også tilføjet til hans/hendes liste)</p>