<p class="centered">Få en anden til at scanne denne kode:</p>
<img class="padding" src="https://chart.googleapis.com/chart?cht=qr&chl=<%= url_encode @url %>&chs=310x310&chld=L|0" />
<p class="centered">I vil så begge blive tilføje til hinandens lister</p>
<div class="centered big">
  <%= link_to "Klik her, når din stregkode er blevet scannet", shakes_path %>
</div>