<div class="profile small">
  <img class="portrait" src="<%= profile.image_url %>" />
  <span class="name"><%= profile.name %></span>
  <span class="title"><%= profile.title %></span>
  <span class="points"><%= "#{profile.points} point" %></span>
</div>