<div class="profile small">
  <img class="portrait" src="<%= profile.image_url %>" />
  <span class="name"><%= link_to profile.name, profile %></span>
  <span class="title"><%= "@#{profile.twitter_name}" unless profile.twitter_name.blank? %></span>
  <span class="points"><%= "#{profile.points} point" %></span>
</div>