<div class="profile small">
  <img class="portrait" src="http://www.gravatar.com/avatar/18fd801ab79f9c14ccd832b6c3383850.jpg?s=128&d=wavatar" />
  <span class="name"><%= profile.name %></span>
  <span class="title"><%= profile.title %></span>
  <span class="points"><%= "#{profile.points} point" %></span>
</div>