<div class="profile big">
  <div class="name"><%= @user.name %></div>
  <div class="title"><%= @user.title %></div>
  <ul class="value-list">
    <li>
      <span class="value blue"><%= @user.points %></span>
      <span class="text">points</span>
    </li>
    <li>
      <span class="value green"><%= @user.awards.count %></span>
      <span class="text">mærker</span>
    </li>
    <li>
      <span class="value red">0</span>
      <span class="text">QR-shakes</span>
    </li>
    <li>
      <span class="value twitter-blue">0</span>
      <span class="text">Tweets</span>
    </li>
  </ul>
</div>