// Place all the styles related to the Badges controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.seal {
  border: 4px solid gray;
  padding: 15px;
  border-radius: 45px;
  font-size: 18px;
  text-align: center;
  margin: 0 auto;
}